.about-page {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: var(--main-background);
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    user-select: text;
}

.about-page-container {
    background-color: var(--overlay-background);
    border-radius: 2em;
    padding: 20px;
    box-shadow: 0 0 2em hsl(0, 0%, 10%);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root[data-theme="light"] .about-page-container {
    box-shadow: 0 0 1em hsl(0, 0%, 50%);
}

.about-title{
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 0.5em;
    margin: 20px;
    flex-grow: 0;
    color: var(--heading-text-color);
}

.about-text {
    color: var(--heading-text-color);
    margin: 20px;
}

.highlight {
    color: var(--subtext-color);
}

#TUAS {
    color: var(--TUAS-amber);
}

#TESC {
    color: var(--TESC-blue);
}

#CSES {
    color: var(--CSES-yellow);
}