*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
a,
dd {
  margin: 0;
}

body {
  font: 1.5em 'Roboto', sans-serif;
  color: var(--heading-text-color);
}

::selection {
  background-color: var(--contrast-overlay-background);
  color: var(--contrast-highlight-color)
}

/* Initially hide the body */
body {
  visibility: hidden;
}

/* Show the body when the theme is applied */
body.theme-applied {
  visibility: visible;
}

p span {
  margin: 0;
  padding: 0;
  line-height: inherit;
  display: inline;
  font-size: inherit;
  color: inherit;
}

:root {
  --navbar-text-color: hsl(171, 27%, 72%);
  --heading-text-color: hsl(199, 67%, 88%);
  --subtext-color: hsl(171, 47%, 69%);
  --main-background: hsl(200, 23%, 18%);
  --overlay-background: hsl(204, 19%, 26%);
  --highlight-color: hsl(199, 52%, 88%);
  --contrast-overlay-background: hsl(204, 19%, 74%);
  --contrast-highlight-color: hsl(199, 52%, 12%);
  --contrast-subtext-color: hsl(171, 47%, 21%);
  --contrast-navbar-text-color: hsl(171, 27%, 28%);
  --contrast-heading-text-color: hsl(199, 68%, 12%);
  --TESC-blue: hsl(210, 100%, 72%);
  --TUAS-amber: hsl(45, 100%, 50%);
  --CSES-yellow: rgb(243, 201, 105);
}

:root[data-theme="light"] {
  --navbar-text-color: hsl(171, 27%, 28%);
  --heading-text-color: hsl(199, 68%, 12%);
  --subtext-color: hsl(171, 47%, 21%);
  --main-background: hsl(200, 23%, 82%);
  --overlay-background: hsl(204, 19%, 74%);
  --highlight-color: hsl(199, 52%, 12%);
  --contrast-overlay-background: hsl(204, 19%, 26%);
  --contrast-highlight-color: hsl(199, 67%, 88%);
  --contrast-subtext-color: hsl(171, 47%, 69%);
  --contrast-navbar-text-color: hsl(171, 27%, 72%);
  --contrast-heading-text-color: hsl(199, 67%, 88%);
  --TESC-blue: hsl(200, 100%, 23%);
  --TUAS-amber: hsl(45, 100%, 30%);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: start;
  min-width: 100vw;
  padding: 1em;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: start;
  background-color: var(--overlay-background);
  border-radius: 1em;
  box-shadow: 0 0 1em hsl(0, 0%, 12%);
  padding: 0.1em;
  margin-left: auto;
  transform: translateX(60px);
}

:root[data-theme="light"] .navbar {
  box-shadow: 0 0 0.5em hsl(0, 0%, 50%);
}

.navbar-element {
  margin: 0 1em;
  margin-top: 0%;
  font-size: 1em;
  font-weight: bold;
  color: var(--navbar-text-color);
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 1em;
}

.navbar-element:hover {
  color: var(--contrast-navbar-text-color);
  background-color: var(--contrast-overlay-background);
  box-shadow: 0 0 1em hsl(0, 0%, 12%);
}

:root[data-theme="light"] .navbar-element:hover {
  box-shadow: 0 0 0.5em hsl(0, 0%, 50%);
}

#theme-toggle{
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: start;
  margin: 1em;
  background-color: var(--overlay-background);
  border-radius: 0.5em;
  box-shadow: 0 0 1em hsl(0, 0%, 12%);
}

:root[data-theme="light"] .footer {
  box-shadow: 0 0 0.5em hsl(0, 0%, 50%);
}

.footer-element {
  margin: 0 1em;
  font-size: 0.5em;
  font-weight: bold;
  height: 4.5em;
  width: 4.5em;
  background-color: var(--overlay-background);
  border-radius: 1em;
  color: var(--navbar-text-color);
  text-decoration: none;
  padding: 0.5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-element:hover {
  background-color: var(--contrast-overlay-background);
  box-shadow: 0 0 1em hsl(0, 0%, 12%);
}

:root[data-theme="light"] .footer-element:hover {
  box-shadow: 0 0 0.5em hsl(0, 0%, 50%);
}

.svg {
  height: 2.5em;
  width: 2.5em;
}

:root[data-theme="dark"] .svg {
  filter: brightness(0) saturate(100%) invert(91%) sepia(12%) saturate(814%) hue-rotate(172deg) brightness(101%) contrast(92%);
}

:root[data-theme="light"] .svg {
  filter: invert(0%);
}

:root[data-theme="light"] .footer-element:hover .svg {
  filter: brightness(0) saturate(100%) invert(91%) sepia(12%) saturate(814%) hue-rotate(172deg) brightness(101%) contrast(92%);
}

:root[data-theme="dark"] .footer-element:hover .svg {
  filter: invert(0%);
}

.toggle-svg {
  height: 25px;
  width: 25px;
  position: relative;
  transition: transform 0.35s ease, opacity 0.35s ease;
}

body.preload .toggle-svg {
  transition: none !important;
}

#sun {
  margin-right: 13px;
}

#moon {
  margin-left: 13px;
}

.toggle-label{
  margin-left: auto;
  height: 50px;
  width: 100px;
  background-color: var(--overlay-background);
  border-radius: 100em;
  box-shadow: 0 0 1em hsl(0, 0%, 12%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

:root[data-theme="light"] .toggle-label {
  box-shadow: 0 0 0.5em hsl(0, 0%, 50%);
}

.toggle-label:before {
  content: '';
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--contrast-overlay-background);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

body.preload .toggle-label:before {
  transition: none !important;
}

:root[data-theme="light"] .toggle-label:before {
  transform: translateX(-25px);
}

:root[data-theme="dark"] .toggle-label:before {
  transform: translateX(25px);
}

:root[data-theme="light"] #moon {
  transform: translateX(-50px);
  opacity: 0;
}

:root[data-theme="dark"] #sun {
  transform: translateX(50px);
  opacity: 0;

}

:root[data-theme="light"] #sun {
  border-radius: 100em;
  opacity: 1;
}

:root[data-theme="dark"] #moon {
  border-radius: 100em;
  opacity: 1;
}
