body {
    font-family: Arial, sans-serif;
}

.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.project-page-container {
    display: none; /* Hide all slides by default */
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background-color: #333;
    width: 100%;
    transform: translateX(-500px); /* Initial position for the slide */
    transition: transform ease 0.5s; /* Animation for the slide */
}

.active {
    display: block;
    transform: translateX(0); /* Move the active slide into view */
}
