<div class="footer">
    <a href="https://www.github.com/shree-venkatesh" target="_blank" rel="noopener noreferrer" class="footer-element">
        <img src="/assets/github.svg" class="svg" id="github">
    </a>
    <p style="font-size: 1.5em; font-weight: lighter;">|</p>
    <a href="https://www.linkedin.com/in/shree-venkatesh/" target="_blank" rel="noopener noreferrer" class="footer-element">
        <img src="/assets/linkedin.svg" class="svg" id="linkedin">
    </a>
    <p style="font-size: 1.5em; font-weight: lighter;">|</p>
    <a href="mailto:vshree852@gmail.com" class="footer-element">
        <img src="/assets/email.svg" class="svg" id="email">
    </a>
</div>
